---
---

$editor-header-height: 2rem;
$editor-output-height: 3rem;

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-family: "Computer Modern Sans";
}

body {
    overflow: hidden;
    height: 100%;
}

.editor-container {
    height: 100%;

    header {
        height: $editor-header-height;
    }

    .editor-columns {
        height: calc(100% - #{$editor-output-height} - #{$editor-header-height});

        .editor-left-column {
            float: left;
            width: 50%;
            height: 100%;

            .editor {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }

        .editor-right-column {
            float: right;
            width: 50%;
            height: 100%;

            .editor-wrapper {
                width: 100%;
                height: 100%;

                // Prevent potentional blurryness due to .editor-demo possibly
                // at a 1/2 pixel offset
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                transform-style: preserve-3d;

                .editor-demo {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 50vw;
                    height: 30vw;
                    background-color: #BBB;
                }
            }
        }
    }

    .editor-output {
        width: 100%;
        height: $editor-output-height;
        padding: 0.3rem;

        // Align children vertically
        display: flex;
        align-items: center;

        .output {
            margin-right: auto;
            font-weight: bold;
        }

        h1 {
            margin-left: auto;
            padding-right: 1rem;
        }
    }

    .output-success {
        background-color: #A1D490;
    }

    .output-fail {
        background-color: #D4A190;
    }
}
