---
---

$page-width: 40em;
$p-padding: 1.0rem;
$li-padding: 0.5rem;
$small-caps-letter-spacing: 0.09em;
$figure-width: 35rem;
$canvas-height: 25rem;
$fig-background-color: #F8F8F8;

html {
    font-size: 1.25em;
}

body {
    font-family: "Computer Modern Sans";
    max-width: $page-width;
    margin: 0 auto;
    padding-bottom: 5rem;
}

body > *, details, summary, section, p {
    margin: $p-padding 0;
}

li {
    margin: $li-padding 0;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;

    a {
        color: inherit;
        text-decoration: none;
    }
}

h2 {
    font-size: 1.35rem;
    margin-top: 2.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-top: 1.9rem;
}

.page-nav {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.0rem;
    border-style: groove;
    border-width: 0 0 2px 0;
}

.go-to-previous {
    float: left;
    width: 33%;
    text-align: left;
}

.go-to-toc {
    width: 33%;
}

.go-to-next {
    float: right;
    width: 33%;
    text-align: right;
}

/*****************************************************************************
 * Figure
 *****************************************************************************/

figure {
    width: $figure-width;
    background-color: $fig-background-color;
    margin: $p-padding auto;
    padding: 0.5rem;
    overflow: auto;

    canvas {
        width: 100%;
        height: $canvas-height;
        padding: 0;
        margin: 0;
    }

    img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    figcaption {
        display: block;
        position: relative;
        padding: 0.5rem;
        left: -0.5rem;
        width: 100%;
        background-color: $fig-background-color;

        span {
            float: left;
            width: 79%;
        }

        a {
            float: right;

            // Look like a button
            text-align: center;
            padding: 0.3rem 0.5rem;
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            text-decoration: none;
            color: initial;
        }
    }
}
