---
---

@import "all";

body {
    max-width: $body-width;
    margin-left: auto;
    margin-right: auto;
    font-family: "Computer Modern Sans";
    font-style: bold;
    background-color: $background-color;
}

.page-content {
    padding: $paragraph-space 0;
    margin: $paragraph-space 0;
    border-top: $page-content-border-width solid;
    border-bottom: $page-content-border-width solid;
}

.note {
    font-style: italic;
}

code {
    display: block;
    margin: $paragraph-space 0;
    border: $code-border-width solid $code-border-color;
}

iframe {
    display: none;
}
