<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="fonts/computer-modern/cmun-sans.css">
    <link rel="stylesheet" href="fonts/computer-modern/cmun-typewriter.css">
    <link rel="stylesheet" href="css/github-syntax.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-2.2.3.js"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="js/ace-builds/src/ace.js"></script>
    <script src="http://mcjohnalds.github.io/loadImages.js/jquery-flavour/v0.1.0.js"></script>
    <script src="js/mouse-utils.js"></script>
    <script src="js/VAO.js"></script>
    <script src="js/ShaderProgram.js"></script>
    <script src="js/ShaderToy.js"></script>
    <script src="js/IDE.js"></script>
    <script src="js/main.js"></script>
</head>
