$background-color: #FFF;
$paragraph-space: 16px;
$body-width: 960px;
$page-content-border-width: 2px;
$figure-background-color: #EEE;
$code-border-color: #EEE;
$code-border-width: 1px;
$figure-width: 400px;
$figure-padding: 10px;
