body {
    counter-reset: figures;
}

figure.shader-demo > canvas {
    display: block;
}

figure {
    width: $figure-width;
    counter-increment: figures;
    display: block;
    margin: $paragraph-space auto;
}

figure > * {
    display: block;
    background-color: $figure-background-color;
    padding: $figure-padding $figure-padding;
    margin: 0px auto;
}

figcaption {
    text-align: center;
    width: 100%;
    display: block;
    padding: 0px 10px $figure-padding $figure-padding;
}

figure > figcaption:before {
    content: "Figure " counter(figures) ". ";
}

figure.image > object {
    width: 100%;
}
