<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        <header>
            <h1><a href="RayMarchingOverview">Learn Ray Marching</a></h1>

            <nav class="page-nav">
                {% if page.previous %}
                    <a class="go-to-previous" href="{{ page.previous }}">
                        Previous chapter
                    </a>
                {% else %}
                    <a class="go-to-previous">&nbsp;</a>
                {% endif %}

                {% if page.no_toc_link %}
                    <a class="go-to-toc">&nbsp;</a>
                {% else %}
                    <a class="go-to-toc" href="TableOfContents">
                        Table of Contents
                    </a>
                {% endif %}

                {% if page.next %}
                    <a class="go-to-next" href="{{ page.next }}">
                        Next chapter
                    </a>
                {% else %}
                    <a class="go-to-next">&nbsp;</a>
                {% endif %}
            </nav>
        </header>

        <main class="page-content">
            <h2>{{ page.title }}</h2>

            {{ content }}
        </main>
    </body>
</html>
