<html lang="en">
    {% include head.html %}

    <body>
        <header>
            <h1><a href="RayMarchingOverview">Learn Ray Marching</a></h1>

            <nav class="page-nav">
                {% if page.previous %}
                    <a class="go-to-previous" href="{{ page.previous }}.html">
                        Previous chapter
                    </a>
                {% else %}
                    <a class="go-to-previous">&nbsp;</a>
                {% endif %}

                <a class="go-to-toc" href="TableOfContents">
                    Table of Contents
                </a>

                {% if page.next %}
                    <a class="go-to-next" href="{{ page.next }}.html">
                        Next chapter
                    </a>
                {% else %}
                    <a class="go-to-next">&nbsp;</a>
                {% endif %}
            </nav>
        </header>

        <main class="page-content">
            <h2>{{ page.title }}</h2>

            {{ content }}
        </main>
    </body>
</html>
